@import '../assets/stylesheets/variables';

button {
  padding: 0.5rem 1rem;
  border: none;
  background: $primary-blue;
  color: white;
  cursor: pointer;
  & ~ button {
    margin-left: 10px;
  }
}
