@import '../assets/stylesheets/variables';

header {
  padding: 1rem 0;
  span {
    color: $font-color;
    font-size: 20px;
    text-transform: uppercase;
  }
  img:not(.icon) {
    width: 178px;
    margin: 0.55rem -10px 0 2rem;
  }
  button {
    position: absolute;
    right: 0;
  }
}
