@import '../assets/stylesheets/variables';

header {
  padding: 1rem 0;
  span {
    color: #545454;
    font-size: 20px;
    text-transform: uppercase;
  }
  img {
    margin-left: 2rem;
    width: 178px;
    margin-right: -10px;
  }
  button {
    position: absolute;
    right: 0;
  }
}
